html{
    height:100%;
    margin:0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background: #494A5F;*/
    /*background: #F0F0F0;*/
    font-weight: 800;
    font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
header{
    flex: 0 0 auto;
}
#footer{
    flex: 0 0 auto;
}
* {
    box-sizing: border-box;
}
#container {
    flex: 1 0 auto;
    width: 1000px;
    /*height: auto;*/
    margin: 0 auto;
    padding-bottom:100px
}
div.search {
    padding: 30px 0;
}
.form_fuzzybar {
    position: relative;
    /*width: 800px;*/
    width: 100%;
    margin: 0 auto;
    text-align:center;
}
#fuzzybar input, button {
    border: none;
    outline: none;
}
#fuzzybar input {
    width: 100%;
    height: 42px;
    padding-left: 13px;
}
#fuzzybar button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
}
/*搜索框*/
/*.bar1 {background: #A3D0C3;}*/
#fuzzybar input {
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    background: #F9F0DA;
    color: #9E9C9C;
}
#exactbar input{
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    background: #F9F0DA;
    color: #9E9C9C;
}
#fuzzybar button {
    top: 0;
    right: 0;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
}
#fuzzybar button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
.Search_table_data{
    padding: 30px 200px;
    display: none;
    margin:0 auto;
}
.fuzzy_search_title,.fexact_search_title,.download_title,.chart_title{
    color: #31ae8d;
    font-size: 1.8em;
    line-height: 1.125;
    margin: 1.125em 0 .5625em;
}
.download_link{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.8em;
    line-height: 150%;
    color: #7a98ff;
    text-shadow: 0px 1px 0 #fff;
    border-radius: 10px;
    text-decoration: underline;
}

.Search_layui_inline_1{
    width: 100px;
}
.input_exact_bar,.Search_layui_inline_3{
    width: 550px;
}
.Search_layui_inline_4{
    width: 50px;
}
#exactbar{
    display: none;
}
.exact_search_btn{
    width: 100px;
}
.chart_vistor,.chart_download{
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
    text-align:center;

}
.layui-table a{
    color:#428bca
}
/*a:link {color: #0000FF} !* 未访问的链接 *!*/
/*a:visited {color: #FF0000} !* 已访问的链接 *!*/

/*a:link {color: #FF0000} !* 未访问的链接 *!*/
/*a:visited {color: #00FF00} !* 已访问的链接 *!*/
/*a:hover {color: #FF00FF} !* 鼠标移动到链接上 *!*/
/*a:active {color: #0000FF} !* 选定的链接 *!*/