<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Interior-Design-Responsive-Website-Templates-Edge">
    <meta name="author" content="">
    <title></title>
    <link rel="favicon" href="../../bic/static/imgs/favicon.png">
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="../../bic/static/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="../../bic/static/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="../../bic/static/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="../../bic/static/css/style.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <!--<script src="static/js/html5shiv.js"></script>-->
    <!--<script src="static/js/respond.min.js"></script>-->
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->
</head>

<body>

<div class="navbar navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="/bic/html/index.do">NeoPeptide<span>www.NeoPeptide.cn</span></a>&
        <a href="http://www.zjyy.com.cn/" title="smu">Zhujiang Hospital of Southern Medical University</a>

        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav mainNav">
                <li><a href="/bic/html/index.do">Home</a></li>
                <li class="active"><a href="/bic/html/about.do">About</a></li>
                <li><a href="/bic/html/search.do">Search</a></li>
                <li><a href="/bic/html/download.do">Download</a></li>
                <!--<li><a href="/bic/html/chart.do">Statistics</a></li>-->
                <li><a href="/bic/html/contact.do">Contact</a></li>

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->

<header id="head" class="secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>About us</h1>
            </div>
        </div>
    </div>
</header>

<!-- container -->
<section class="container">
    <div class="row">
        <!-- main content -->
        <section class="col-sm-8 maincontent">
            <h3>Our School</h3>
            <p>
                <!--<img src="../../bic/static/imgs/about.jpg" alt="" class="img-rounded pull-right" width="300">-->
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente.
            </p>
            <p>Consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente.</p>
            <h3>Our Achievements</h3>
            <strong>2015</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente. consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
            <strong>2013</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente. consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
            <strong>2012</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente. consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
            <strong>2011</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente. consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
        </section>
        <!-- /main -->

        <!-- Sidebar -->
        <aside class="col-sm-4 sidebar sidebar-right">

            <div class="panel">
                <h4>Latest News</h4>
                <ul class="list-unstyled list-spaces">
                    <li><a href="">New Feature</a><br>
                        <span class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.</span></li>

                </ul>
            </div>

        </aside>
        <!-- /Sidebar -->

    </div>
</section>

<!--</section>-->
<footer id="footer" class="top-margin">
    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="simplenav">
                            <a href="/bic/html/index.do">Home</a> |
                            <a href="/bic/html/about.do">About</a> |
                            <a href="/bic/html/search.do">Search</a> |
                            <a href="/bic/html/download.do">Download</a> |
                            <a href="/bic/html/chart.do">Statistics</a> |
                            <a href="/bic/html/contact.do">Contact</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="text-right">
                            Copyright &copy; <a href="http://cs.hit.edu.cn/" target="_blank" title="hit">Harbin Institute of Technology</a>
                            <!-- - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a> -->
                        </p>
                    </div>
                </div>

            </div>
            <!-- /row of panels -->
        </div>
    </div>
</footer>



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<!--<script src="../../bic/static/js/jquery-1.8.3.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--<script src="../../bic/static/js/bootstrap.min.js"></script>-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>
</html>
