<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Interior-Design-Responsive-Website-Templates-Edge">
    <meta name="author" content="">
    <title></title>
    <link rel="favicon" href="../../bic/static/imgs/favicon.png">
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="../../bic/static/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="../../bic/static/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="../../bic/static/css/bootstrap-theme.css" media="screen">
    <!--layui-->
    <link rel="stylesheet" type="text/css" href="../../bic/static/modules/layui/css/layui.css">

    <link rel="stylesheet" href="../../bic/static/css/style.css">
    <!--web uploader-->
    <link rel="stylesheet" type="text/css" href="../../bic/static/modules/webuploader/webuploader.css">
    <!--self-->
    <link rel="stylesheet" type="text/css" href="../../bic/static/css/Search.css">
    <link rel="stylesheet" type="text/css" href="../../bic/static/js/fancybox/jquery.fancybox.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../bic/static/js/html5shiv.js"></script>
    <script src="../../bic/static/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Fixed navbar -->
<div id="header-top">
    <!--  HEADER TOP -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <div class="text">

                    <!-- <p>Phone:</p> -->

                </div>
            </div><!-- end -->
            <div class="col-md-6">
                <div class="social text-center pull-right">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-flickr"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>

            </div><!-- end -->
        </div><!-- end .row -->
    </div>
</div>
<div class="navbar navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="/bic/html/index.do">HIT-BIC<span>HIT Bioinformatics Services</span></a>

        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav mainNav">
                <li><a href="/bic/html/index.do">Home</a></li>
                <li><a href="/bic/html/search.do">Search</a></li>
                <li><a href="/bic/html/download.do">Download</a></li>
                <li class="active"><a href="/bic/html/chart.do">Chart</a></li>
                <li><a href="/bic/html/about.do">About</a></li>
                <!-- <li><a href="services.html">Services</a></li>
             <li><a href="price.html">Price</a></li>
             <li><a href="projects.html">Projects</a></li>
             <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                 <ul class="dropdown-menu">
                     <li><a href="sidebar-right.html">Right Sidebar</a></li>
                     <li><a href="#">Dummy Link1</a></li>
                     <li><a href="#">Dummy Link2</a></li>
                     <li><a href="#">Dummy Link3</a></li>
                 </ul>
             </li>
             <li><a href="contact.html">Contact</a></li> -->
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->

<header id="head" class="secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Chart</h1>
            </div>
        </div>
    </div>
</header>
<br />
<!--chart-->
<div id="container">
    <h3>Views & Download</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <br>
    <br>
    <div class="layui-row">
        <div class="layui-col-md6 layui-col-md6">
            <div id="chart_download"></div>
        </div>
        <div class="layui-col-md6 layui-col-md6">
            <div id="chart_vistor"></div>
        </div>
    </div>


    <!--<br />-->
    <!--<hr class="layui-bg-black">-->
    <!--<br />-->
    <!--<br />-->
    <!--<div id="chart_vistor"></div>-->
    <!--<h1 class="chart_title">DownloadChart</h1>-->
    <!--<br />-->
    <!--<hr class="layui-bg-black">-->
    <!--<br />-->
    <!--<br />-->
    <!--<div id="chart_download"></div>-->

</div>

<footer id="footer" class="top-margin">
    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="simplenav">
                            <a href="/bic/html/index.do">Home</a> |
                            <a href="/bic/html/search.do">Search</a> |
                            <a href="/bic/html/download.do">Download</a> |
                            <a href="/bic/html/chart.do">Chart</a> |
                            <a href="/bic/html/about.do">About</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="text-right">
                            Copyright &copy; hit.quz <a href="http://cs.hit.edu.cn/" target="_blank" title="hit">hit</a>
                            <!-- - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a> -->
                        </p>
                    </div>
                </div>

            </div>
            <!-- /row of panels -->
        </div>
    </div>
</footer>



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->

<script src="../../bic/static/js/jquery-1.8.3.js"></script>



<script src="../../bic/static/js/fancybox/jquery.fancybox.pack.js"></script>
<script src="../../bic/static/js/bootstrap.min.js"></script>
<script src="../../bic/static/js/custom.js"></script>
<!--<script type="text/javascript" src="../../bic/static/js/webuploader/webuploader.js"></script>-->
<!--<script type="text/javascript" src="../../bic/static/js/webuploader/dowebupload.js"></script>-->
<script src="../../bic/static/modules/layui/layui.js"></script>
<script src="../../bic/static/js/Search.js"></script>
<!--highmap-->
<script src="../../bic/static/modules/highmaps/highmaps.js"></script>
<script src="../../bic/static/js/chart.js"></script>

</body>
</html>
